.demo {
  display: block;
}


.demo-image {
  width: 100%;
  display: block;
  height: auto;
}


/* fade image in after load */
.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}

rollover:hover a {
  opacity: 0;
}
